<footer class="footer bg-dark text-white text-center py-4 ">
  <div class="container">
    <h5 class="mb-2 footer-name">Jose Antonio Amaya</h5>
    <p class="mb-1"><i class="bi bi-telephone-fill me-2"></i> +34 656 303 542</p>
    <p class="mb-0"><i class="bi bi-envelope-fill me-2"></i> <a href="mailto:amayapostig@gmail.com" target="_blank" rel="noopener noreferrer">
  amayapostig@gmail.com
</a></p>
    <small class="d-block mt-2">&copy; 2025 Todos los derechos reservados</small>
  </div>
</footer>

